:root {
  /* Colores Texto */
  --color-primary: #1fc1c3;
  --color-text-main: #2c3337;
  --color-white: #fbfbfe;
  --error-color: #e74c3c;

  /* Colores Fondo */
  --bg-dark: #0a253b;
  --bg-light: #fbfbfe;
  --bg-primary: #1fc1c3;
  --bg-form-items: #abdee5;
  --bg-success-email: #2ecc71;

  /* Centrado */
  --center-size: 85%;
  --center-size-mobile: 95%;
}
